.v-overlay-container {
  [class*='text-'] {
    font-family: var(--font-family) !important;
  }

  font-family: var(--font-family) !important;
}

.v-btn__content {
  letter-spacing: normal;
}

.v-list-item {
  color: var(--main-color) !important;
}